:root {
    --color-main: #1F3DAE;
    --color-primary: #2059E9;
    --color-error: #DE0004;
    --color-grey: #6D6D6D;
    --color-body: #000000;
    --color-white: #FFFFFF;
    --color-C01: #DBE9FE;
    --color-C02: #F3E8FF;
    --color-C03: #C9E9D0;
    --color-C04: #37824A;
    --color-C05: #172354;
    --color-C06: #E7E7E7;
    --color-C07: #EFF6FF;
    --color-C08: #3D3D3D;
    --color-C09: #EB5757;
    --color-C10: #B0B0B0;
    --color-C11: #3C7DF5;
    --color-C12: #8B20E9;
    --color-C13: #888888;
    --color-C14: #7E7E7E;
    --color-C15: #591C87;
    --color-C16: #C183FD;
    --color-C17: #1F3789;
    --color-C18: #5D5D5D;
    --box-shadow_header: 0px 0px 20px 0px #C6C6C694;
    --box-shadow_item: 5px 4px 20px 0px #D1D1D175;
    --box-shadow-ai: 0px 0px 20px 0px  #E9D5FF;
    --box-shadow-beauty: 5px 4px 20px 0px #F2F2F280;
    --box-shadow-category: 0px 4px 20px 0px #88888833;
    --box-shadow-about: 0px 0px 10px 0px #00000033;
    --box-shadow-staff: 0px 4px 10px 0px #0000001A;
}